$md: 767px;
$lg: 991px;

html, body {
    font-size: 16px;
    @media screen and (max-width: $md) {
        font-size: 14px;
    }
    a {
         text-decoration: none;
         &:hover {
            text-decoration: none;
         }
    }
}
.h-line {
    &:after {
        content: "";
        display: block;
        height: 2px;
        background: #ffffff;
        width: 29%;
        margin-top: 5px;
    }
}

header {
    #logo {
        @media screen and (max-width: $md) {
            padding-top: 50px!important;
        }
        img {
            height: auto;
        }
    }
    .h-tagline {
        letter-spacing: 5px; 
        margin-top: 25px;
        @media screen and (max-width: $md) {
            letter-spacing: 2px;
            margin-top: 15px;
        }
    }
    #nav {
        background: #1F4385;
        .nav-menu { width: 100%; }
        .search-form { width: 300px; }
        #main-menu {
            display: flex;
            li {
                &.fit-menu {
                    .sub-menu {
                        width: 900px;
                        .sub-menu {
                            width: auto;
                        }  
                    }
                }
                ul {
                    //display: none;
                }
                &:hover {
                    .sub-menu {
                        display: block;
                    }
                }
                .sub-menu { 
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    background: #4F6893;
                    z-index: 2;
                    .sub-menu {
                        position: relative;
                    }
                }
                a {
                    line-height: 70px;
                    display: block;
                    padding: 0 15px;
                    color: #ffffff;
                    position: relative;
                    font-size: 17px;
                    &:hover { background: #4F6893; }
                }
                &.menu-item-has-children:not(.h-line) {
                    a {
                        padding-right: 30px;
                        display: flex;
                        align-items: center;
                        &:before {
                            font-family: 'icomoon' !important;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            content: "\e903";
                            position: absolute;
                            right: 15px;
                            font-size: 10px;
                            margin-top: 1px;
                        }
                    }
                    .sub-menu {
                        li {
                            a {
                                &:before { display: none; }
                            }
                        }
                    }
                }
            }
        }
    }
    .social-media-header {
        position: absolute;
        top: 10px;
        right: 0;
        ul.social-header {
            display: flex;
            li {
                margin-right: 15px;
                .social-icon-header {
                    font-size: 30px;
                }
                @media screen and (max-width: $md) {
                    margin-right: 10px;
                    .social-icon-header {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

footer {
    .footer-col {
        .aa-widget-wrap {
            height: 100%;
        }
        @media screen and (max-width: $md) {
            margin-left: 25%;
        }
        @media screen and (max-width: $lg) {
            &:first-child {
                .aa-widget-wrap {
                    margin-bottom: 30px;
                }
            }
        }
    }
    ul.menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .aa-widget-title {
        margin-bottom: 15px;
        text-transform: uppercase;
        font-weight: 700;
    }
    a, p {
        line-height: 1.8;
    }
    .social-icon-footer {
        width: 30px;
        float: left;
        margin-top: 5px;
        font-size: 18px!important;
    }
    .social-media-footer li { margin-bottom: 5px; }
}